.page-header
  h1 New need

- form_for(need, {action: path_to.needs(), method: 'POST', id: "need_form"}, function (form) {
  != partial('needs/form.jade', {locals: {form: form, need: need}})
  .actions
    != form.submit('Create need', {class: 'btn'})
    span= ' or '
    != link_to('Cancel', path_to.needs(), {class: 'btn'})
- });
