.page-header
  h1 Details of need

div(about=path_to.need(need))
  .field(property='needee')= need.needee
  .field(property='satisfaction')= need.satisfaction

.actions
  != link_to('Edit', path_to.edit_need(need), {class: 'btn primary'}) + ' '
  != link_to('Delete', path_to.need(need), {class: 'btn danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  span= ' or '
  != link_to('Back to index', path_to.needs())
