.clearfix
  != form.label("username")
  .input
    != form.input("username")
.clearfix
  != form.label("password")
  .input
    != form.input("password")
.clearfix
  != form.label("email")
  .input
    != form.input("email")
.clearfix
  != form.label("reputation")
  .input
    != form.input("reputation")
.clearfix
  != form.label("createdAt")
  .input
    != form.input("createdAt")
.clearfix
  != form.label("updatedAt")
  .input
    != form.input("updatedAt")
.clearfix
  != form.label("geoX")
  .input
    != form.input("geoX")
.clearfix
  != form.label("geoY")
  .input
    != form.input("geoY")
