.clearfix
  != form.label("username")
  .input
    != form.input("username")
.clearfix
  != form.label("password")
  .input
    != form.input("password")
.clearfix
  != form.label("email")
  .input
    != form.input("email")
.clearfix
  != form.label("geoLat")
  .input
    != form.input("geoLat")
.clearfix
  != form.label("geoLon")
  .input
    != form.input("geoLon")
